@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-inherit {
    animation-delay: inherit;
  }

  .butterfly {
    display: flex;
    width: fit-content;
    transform-origin: center;
    transform: perspective(700px) rotateX(55deg) rotateY(67deg) rotateZ(316deg);
    transform-style: preserve-3d;
  }

  .butterfly-wing {
    transform-style: preserve-3d;
    transform-origin: center right;
  }

  .flip-x {
    transform: scaleX(-1);
    transform-style: preserve-3d;
  }
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1rem;
}

[data-highlighted-line],
[data-highlighted-chars] {
  background-color: #2a4668;
}

.markdown h1,
.markdown h2,
.markdown h4 {
  color: white;
}
